:root{
    --primary: #191919;
    --secondary: #232323;
}
body,html,#main {
    font-family: monospace;
    background-color: #0f1116;
    color: #ffffff;
    height: 100%;
    width: 100%;
}
#addressBar{
    background-color: var(--primary);
    border: var(--secondary) solid 1px;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    color: ivory;
}
#downloadBtn{
    background-color: var(--primary);
    border: 1px var(--secondary) solid;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
}
#downloadBtn:hover{
    background-color: var(--secondary);
    border-color: var(--primary);
    cursor: pointer;
}
#userInterface{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#userInputContainer:first-child{
    width: 100%;
}
#togglers{
    font-size: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#togglers > div > h1{
    margin: 10px;
}
.switch {

    margin: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 5%;
}
#togglers{

}
